a{
  text-decoration: none;
  color: blue;
}

a:hover{
  color: red;
  text-decoration: none;
}

body{

/*background color and font to be set here*/
background-color: beige;
color:black;
font-family: sans-serif,Arial,Tahoma,Times;
text-align: center;
}

footer{
margin-top:2rem;
margin-bottom: 2rem;

}

h1{
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

h2{
color:#075AAB;
margin-bottom: 2.5rem;
margin-top:2.5rem;
}

h3{
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h4{
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

h5{
  margin-top: 0.5rem;
}

hr{
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/*ul{
  display: table;
  margin 0 auto;
  text-align: left;
}*/
